<script src="https://unpkg.com/vue@3"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    >
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    >
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    >
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    >

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js">
    </script>

    <style>
      body {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
                     Roboto, 'Helvetica Neue', sans-serif;
        color: 'black';
      }
      button {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 0.125rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    </style>
    <title>Meter Readings</title>
  </head>
  <body>
    <div id="app">
      <div class="container grid-xl">
        <div class="columns col-oneline">
          <div class="column col-11 col-mx-auto">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <h1>Meter Readings</h1>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="form-group">
                    <label for="days">Snap to day</label>
                    <select
                      id="days"
                      class="form-select"
                      @change="setTimeSpanDay"
                    >
                      <option v-for="day in days" value="day" v-bind:key="day">
                        {{ day }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <canvas id="usageGraph" width="400" height="400" ref="canvas">
                  </canvas>
                </div>
              </div>
              <div class="columns col-oneline mt-2">
                <div class="column col-mx-auto col-auto">
                  <button class="button" @click="panTimeSpanLeft">
                    <i class="icon icon-arrow-left"></i>
                  </button>
                  <button class="button" @click="panTimeSpanRight">
                    <i class="icon icon-arrow-right"></i>
                  </button>
                  <button class="button" @click="zoomTimeSpanIn">
                    <i class="icon icon-plus"></i>
                  </button>
                  <button class="button" @click="zoomTimeSpanOut">
                    <i class="icon icon-minus"></i>
                  </button>
                  <button class="button" @click="resetGraph">
                    <i class="icon icon-refresh"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      const { createApp } = Vue;

      // Schema, host, and port of the API server
      const API_HOST = 'http://localhost:8888'

      // Minimum date to display
      const minDate = new Date('2019-01-01T00:15:00Z');

      // Maximum date to display
      const maxDate = new Date('2019-01-31T23:45:00Z');

      const fifteenMinutesMS = 15 * 60 * 1000;

      const oneDayMS = 24 * 60 * 60 * 1000;

      /*
       * Returns a new date moved back from `date` by `ms`
       */
      const getPrev = (date, ms) => {
        return new Date(date.valueOf() - ms);
      };

      /*
       * Returns a new date moved ahead of `date` by `ms`
       */
      const getNext = (date, ms) => {
        return new Date(date.valueOf() + ms);
      };

      /*
       * Returns a new date moved ahead one day of `date`
       */
      const getTomorrow = (date) => {
        return getNext(date, oneDayMS);
      };

      /*
       * Returns a new date moved back from `date` by fifteen minutes
       */
      const getPrevFifteenMinutes = (date) => {
        return getPrev(date, fifteenMinutesMS);
      };

      /*
       * Returns a new date moved ahead of `date` by fifteen minutes
       */
      const getNextFifteenMinutes = (date) => {
        return getNext(date, fifteenMinutesMS);
      };

      /*
       * Returns an array of days within the given range (inclusive)
       */
      const getDaysInRange = (begin, end) => {
        const days = [begin];

        /* eslint-disable-next-line no-constant-condition */
        while (true) {
          const newDay = getTomorrow(days[days.length - 1]);
          if (newDay > end) {
            break;
          }
          days.push(newDay);
        }

        return days;
      };

      const getCurrentResolution = (timeSpan) => {
        const { begin, end } = timeSpan;

        return end.valueOf() - begin.valueOf();
      };

      /*
       * Moves begin and end back in time per the current resolution.
       */
      const panTimeSpanLeft = (timeSpan) => {
        let { begin, end } = timeSpan;
        const { min } = timeSpan;

        if (begin <= min) {
          return timeSpan;
        }

        const currentResolution = getCurrentResolution(timeSpan);

        begin = getPrev(begin, currentResolution);
        if (begin < min) {
          begin = min;
        }

        end = getNext(begin, currentResolution);

        return { ...timeSpan, begin, end };
      };

      /*
       * Moves begin and end forward in time per the current resolution.
       */
      const panTimeSpanRight = (timeSpan) => {
        const { max } = timeSpan;
        let { begin, end } = timeSpan;

        if (end >= max) {
          return timeSpan;
        }

        const currentResolution = getCurrentResolution(timeSpan);

        end = getNext(end, currentResolution);
        if (end > max) {
          end = max;
        }

        begin = getPrev(end, currentResolution);

        return { ...timeSpan, begin, end };
      };

      /*
       * Removes 15 minutes of range from both begin and end
       */
      const zoomTimeSpanIn = (timeSpan) => {
        let { begin, end } = timeSpan;
        const currentResolution = getCurrentResolution(timeSpan);

        // Make sure we have three data points, so we can lose the points on
        // either side.
        if (currentResolution <= fifteenMinutesMS * 3) {
          return timeSpan;
        }

        begin = getNextFifteenMinutes(begin);
        end = getPrevFifteenMinutes(end);

        return { ...timeSpan, begin, end };
      };

      /*
       * Adds 15 minutes of range to both begin and end
       */
      const zoomTimeSpanOut = (timeSpan) => {
        const { min, max } = timeSpan;
        let { begin, end } = timeSpan;

        begin = getPrevFifteenMinutes(begin);
        if (begin < min) {
          begin = min;
        }

        end = getNextFifteenMinutes(end);
        if (end > max) {
          end = max;
        }

        return { ...timeSpan, begin, end };
      };

      /*
       * Sets the time span to a specific day
       */
      const setTimeSpanDay = (timeSpan, begin) => {
        if (begin < timeSpan.min) {
          return timeSpan;
        }

        const end = getTomorrow(begin);

        if (end > timeSpan.max) {
          return timeSpan;
        }

        return { ...timeSpan, begin, end };
      };

      /*
       * Resets the time span to the first day
       */
      const resetTimeSpan = (timeSpan) => {
        return setTimeSpanDay(timeSpan, timeSpan.min);
      };

      /*
       * Fetches readings from begin to end
       */
      const fetchReadings = async (begin, end) => {
        const beginTS = begin.toISOString();
        const endTS = end.toISOString();
        const url = (
          `${API_HOST}/api/v1/readings/${beginTS}/${endTS}`
        );

        try {
          const res = await fetch(url);

          if (res.status !== 200) {
            const errMsg = await res.text();

            /* eslint-disable-next-line no-console */
            console.error(
              `Error code ${res.status} fetching readings: ${errMsg}`
            );

            return [];
          }

          const data = await res.json();

          return data.readings;
        } catch (e) {
          /* eslint-disable-next-line no-console */
          console.error(e);
          return [];
        }
      };

      createApp({
        name: 'MeterReadingsGraph',
        props: {
          chartId: {
            type: String,
            default: 'usageGraph'
          },
          chartOptions: {
            responsive: true,
          }
        },
        data() {
          return {
            // Small amount of state to avoid showing an empty graph
            loaded: true,
            // Array of days for the day select box
            days: getDaysInRange(minDate, maxDate),
            // The current time span (starts on the 1st day)
            timeSpan: {
              begin: minDate,
              end: getTomorrow(minDate),
              min: minDate,
              max: maxDate,
            },
          };
        },
        methods: {
          panTimeSpanLeft() {
            this.timeSpan = panTimeSpanLeft(this.timeSpan);
          },
          panTimeSpanRight() {
            this.timeSpan = panTimeSpanRight(this.timeSpan);
          },
          resetGraph() {
            this.timeSpan = resetTimeSpan(this.timeSpan);
          },
          setTimeSpanDay(e) {
            this.timeSpan = setTimeSpanDay(
              this.timeSpan,
              this.days[e.target.selectedIndex],
            );
          },
          zoomTimeSpanIn() {
            this.timeSpan = zoomTimeSpanIn(this.timeSpan);
          },
          zoomTimeSpanOut() {
            this.timeSpan = zoomTimeSpanOut(this.timeSpan);
          },
        },
        watch: {
          async timeSpan(newTimeSpan) {
            const readings = await fetchReadings(
              newTimeSpan.begin,
              newTimeSpan.end,
            );

            // Setting `data` wholesale reanimates the entire graph on update,
            // so we set labels and datasets[0].data specifically
            this.usageGraph.data.labels = readings.map((r) => r.timestamp);
            this.usageGraph.data.datasets[0].data = readings.map((r) => r.value);
            this.usageGraph.update();
          },
        },
        mounted() {
          this.usageGraph = new Chart(this.$refs.canvas, {
            type: 'line',
            data: {
              labels: [],
              datasets: [{
                label: 'Usage',
                data: [],
              }],
            },
          });

          const { begin, end } = this.timeSpan;
          fetchReadings(begin, end).then((readings) => {
            this.usageGraph.data = {
              labels: readings.map((r) => r.timestamp),
              datasets: [
                {
                  label: 'Usage',
                  data: readings.map((r) => r.value),
                  fill: true,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
                },
              ],
            };
            this.usageGraph.update();
            this.loaded = true;
          });
        },
      }).mount('#app');
    </script>
  </body>
</html>
